<html>
<head>
    <style>
        .body{
            text-align: center;
        }
        .left-align{
            text-align: left;
        }
        .right-align{
            text-align: right;
        }
    </style>
</head>
<body>
    <h3>*** Checkin Receipt ***</h3>
    <p>*** OYO ***</p>
    <p>9874563212</p>
    <p>********************</p>
    <p></p>
    <p><span class="left-align">Date:</span>	<span class="right-align">02/02/2014</span></p>
    <p>TIME:	11:11</p>
    <p>Total Room Charges: Rs. 1000</p>
    <p>Advance Payment:  Rs. 500</p>
    <p>Advance Payment Mode: GPAY</p>
    <p>Pending Payment: Rs500</p>   
    <br/>
    <p>Signature:	</p>
    <br/>
    <p>Customer Copy</p>


</body>
</html>
