// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import 'activeadmin_addons/all';
@import "arctic_admin/base";


.div-box{
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 0 1px #000 inset;
  margin-bottom: 20px;
}

.panel_contents{
  font-size: 30px;
}
.edit_link {
  font-size: 0;
}

.edit_link:after {
    font-size: 16px;
    content: 'Update';
}

input[type='checkbox']:checked {
  background: green;
  padding: 10px;
}
ol > li.has_many_container.payments > fieldset > ol > li > .has_many_remove{
  display: none;
}
// ol:has(li[id*="payments_attributes"]) > li {
//   display: none;
// }

#new_customer > fieldset.inputs > ol > li.has_many_container.bookings > fieldset > ol > li:nth-child(6) > a {
    display: none;
}

#room_status_ready{
  background-color: #4a9c4a;
}

#room_status_occupied{
  background-color: #4968be;
}

#room_status_need_cleaning{
  background-color: #afa844;
}

#room_status_verification{
  background-color: #d44f27;
}

.custom_buttons{
  margin: 0 20px 0 0;
  padding: 10px 0px 10px 0px;
}

.green {
  background-color: #4a9c4a;
}

.yellow{
  background-color: #cec442;
}

.red{
  background-color: #dd2828;
}

.blue{
  background-color: #3f5dc0;
}

.button {
  position: relative;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  width: 100px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button-false {
  background-color: #4f8a4f;
}

.button-true {
  background-color: #9b5652;
}

.width-200px {
  width: 171px;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.col {
  font-size: 20px;
}

th {
  text-align: left;
  font-size: 24px;
  padding-left: 10px;
  background: #a7d7f5;
}

tbody tr th {
    font-size: 24px;
}